@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@keyframes pokeGame {

    from{border-left: 3px solid black;
        border-right:3px solid black;
        }
    to{border-left: 6px double black;
        border-right:6px double black;
        }
    
}





.pokemonOption{

    font-size :10px;
    padding:3px; 


}

.pokemonOptionSelected{

    font-size :10px;
    padding:3px; 
    border-left: 3px solid black;
    border-right:3px solid black;
    animation-name: pokeGame;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}




.pokemon-game-health-bar {
    background-color: black !important;
    color: red;
    border: solid;
}