@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.pokemon-battle-stats-container {
    position: absolute;
    left: 90px;
    top: 210px;
    border: black;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    border-radius: 5px;
    height: 42px;
    width: 127px;
}
.pokemon-name {
    font-size: 10px;
    margin-bottom: 2px;
}
.pokemon-battle-stats-health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon-health-point-container {
    display: flex;
    flex-direction: row;
}
.pokemon-health-point-hp {
    font-size: 10px;
    width: 20px;
}
.health-bar-container {
    width: 95px;
    height: 10px;
    background-color: transparent;
    border: solid;
    border-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    border-radius: 5px;
}
.current-health {
    width: 25%;
    height: 100%;
    background-color: black;
}
.pokemon-health-point-numeric {
    margin-top: 3px;
    font-size: 10px;
}