@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.submit_button {
    font-family: "Press Start 2P";
    font-size: x-small;
    background-color: transparent;
}

.textbox {
    background-color: transparent;
}

.container {
    padding: 10px;
}

ul.a {
    width: 224px;
    height: 302px;
    list-style-type: square;
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-size: 10px;
}