@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.submit_button{
    font-family: "Press Start 2P";
    font-size: x-small;
    background-color: transparent;
}



.container{
    padding: 10px;
}

ul.a{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

input{
    background-color: transparent;

}