@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.add-new-trainer-name-input{
    background-color: transparent;
}
.add-new-trainer-age-input{
    background-color: transparent;
}
.add-new-trainer-town-input{
    background-color: transparent;
}
.submitButton{
    background-color: transparent;
    font-family: "Press Start 2P";
}